*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --color-primary: #DDD9D3;
  --color-highlight: #E3222D;
  --color-main: #2F2F2F;  

  /* Color Semantics */
  --color-background: var(--color-primary);
  --color-text: var(--color-main);
  --color-accent: var(--color-highlight);

  /* Typography */
  --font-mono: 'Chivo Mono', monospace;
  --font-display: 'Chivo', sans-serif;
  --font-metrics: 'VT323', monospace;

  /*Spacing */
  --spacing-xxs: 2px;
  --spacing-xs: 4px;  
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 96px;
  --spacing-xxxl: 128px;

  /* Border Radius */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
}

@keyframes holoWipe {
  0% { left: -100vw; opacity: 1; }
  60% { left: 0; opacity: 1; }
  100% { left: 100vw; opacity: 0; }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-1px); }
  100% { transform: translateY(0); }
}

html, body {
  font-family: var(--font-display);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.4;
  font-size: 16px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4.5rem;
  color: var(--color-highlight);
  font-weight: 300;
  line-height: 110%;
  text-align: justify;
}

h4 {
  font-family: var(--font-display);
  font-size: 1.75rem;
  color: var(--color-text);
  font-weight: 300;
}

h5 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  color: var(--color-text);
  font-weight: 300;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  position: relative;
  justify-items: start;
}

.hero__text {
  display: flex;
  position: relative;
  max-width: 1440px;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 10%;
  gap: 88px;
}

@keyframes riseIn1 {
  0% { 
    opacity: 0; 
    transform: translateY(4px) scale(0.98);
    filter: blur(3px) drop-shadow(0px 0px 12px rgb(227,34,45, 0.5));
  }
  100% { 
    opacity: 0.9; 
    transform: translateY(0) scale(1);
    filter: blur(0) drop-shadow(0px 0px 12px rgb(227,34,45, 0.7));
  }
}

@keyframes riseIn2 {
  0% { 
    opacity: 0; 
    transform: translateY(8px) scale(0.98);
    filter: blur(3px) drop-shadow(0px 0px 12px rgb(47,47,47, 0.3));
  }
  100% { 
    opacity: 0.9; 
    transform: translateY(0) scale(1);
    filter: blur(0) drop-shadow(0px 0px 12px rgb(47,47,47, 0.3));
  }
}

@keyframes dialRise {
  0% { 
    opacity: 0; 
    transform: translateY(8px) scale(0.98);
  }
  100% { 
    opacity: 0.9; 
    transform: translateY(0) scale(1);
  }
}

.dial {
  position: fixed;
  bottom: 40px;
  right: 10%;
  width: 272px;
  height: 272px;
  z-index: 15;
  opacity: 0;
  animation: dialRise 2.5s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s,
  float 12s ease-in-out infinite 2.5s;
}

.hero__headline {
  max-width: 1072px;
  z-index: 20;
  opacity: 0;
  animation: riseIn1 2.5s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s,
  float 12s ease-in-out infinite 2.5s;
}

.hero__subtitle {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-m);
  align-items: center;
  z-index: 20;
}

h4 {
  opacity: 0;
  animation: 
    riseIn2 2.5s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s,
    float 12s ease-in-out infinite 2.5s;
}

.hero__role {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  z-index: 20;
  row-gap: var(--spacing-m);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

@keyframes fadeInFull {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hero__role h5 {
  opacity: 0;
}

.hero__role h5:nth-child(1) {
  animation: fadeInFull 0.6s ease forwards 2.2s;
}

.hero__role h5:nth-child(2) {
  animation: fadeIn 0.6s ease forwards 2.6s;
}

.hero__role h5:nth-child(3) {
  animation: fadeIn 0.6s ease forwards 3.0s;
}

.hero__role h5:nth-child(4) {
  animation: fadeIn 0.6s ease forwards 3.4s;
}

.hero__arrow {
  position: absolute;
  z-index: 10;
  top: 120px;
  right: 24px;
  opacity: 0.5;
  z-index: 10;
}

.hero__circle {
  position: absolute;
  z-index: 10;
  top: 120px;
  left: 24px;
  opacity: 0.5;
  z-index: 10;
}

@keyframes floatDown {
  0% { transform: translateX(var(--x)) translateY(-150vh);}
  100% { transform: translateX(var(--x)) translateY(100vh);}
}

.float-column {
  position: absolute;
  top: 0;
  left: 10%;
  width: 245px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
  pointer-events: none;
  z-index: 11;
}

.float-rect {
  position: absolute
  width: 100%;
  background: #fff;
  opacity: 0.5;
  border-radius: 2px;
  animation: floatDown linear infinite;
}